@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}


body {
    background-image: linear-gradient(
        to right,
        #383F51,
        #07A0C3

    );
}


main{
    background-color: white;
    padding: 10px;
    width: 600px;
}

h1 {
    color: #BC5D2E;
    text-align: center;
}

h2 {
    color: #F34213;
}

p {
    text-align: justify;
}

